@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #0c1217;
  font-family: DM Sans;

  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-p-header.is-open .u-p-header-background {
  left: 0;
}
.u-p-header-button-wrapper {
  margin-left: auto;
}
.u-p-header-icon {
  display: none;
}

.u-p-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-p-navigation-list.is-open {
  right: 0;
}
.u-p-header-icon-menu {
  display: block;
}

.u-p-header-icon-button.is-open .u-p-header-icon-menu {
  display: none;
}

.u-p-header-icon-button.is-open .u-p-header-icon-close {
  display: block;
}

.u-p-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #0c1217;
}

.u-p-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0c1217;
}
.u-p-header.is-open .u-p-header-background {
  left: 0;
}
.u-p-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-p-header-icon-menu {
  display: block;
}

.u-p-header-icon-button.is-open .u-p-header-icon-menu {
  display: none;
}

.u-p-header-icon-button.is-open .u-p-header-icon-close {
  display: block;
}

.u-p-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.u-p-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 16px;
  margin-top: 16px;
  gap: 28px;
  background: #0c1217;
}

.u-p-navigation-list.is-open {
  right: 0;
}

.u-p-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.u-p-navigation-link:hover,
.u-p-navigation-link:focus {
  color: #ae86f5;
}

.u-p-header.is-open {
  background-color: transparent;
}

.u-p-navigation-img {
  display: none;
}

@media screen and (min-width: 1191px) {
  .u-p-navigation-img {
    display: flex;
    margin-right: 200px;
  }
  .u-p-header-icon-title {
    display: none;
  }
  .u-p-header-button-wrapper {
    display: none;
  }
  .u-p-header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .u-p-header-background {
  }
  .u-p-header-icon-button {
    display: none;
  }
  .u-p-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-p-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 44px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-p-navigation-link {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-p-navigation-item-desk {
    display: none;
  }
}
.u-p-home {
  width: 375px;
  height: 617px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero.png");
  margin: auto;
}
.u-p-home-container {
  width: 375px;
  padding: 110px 16px 0px;
  margin: auto;
}

.u-p-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-p-home-title {
  font-family: DM Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 10px;
}

.u-p-home-text {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 32px 0 40px;
}

.u-p-home-link {
  background: #ae86f5;
  width: 256px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 24px;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0c1217;
}

.u-p-home-link:hover {
  background: #ffffff;
}

@media screen and (min-width: 1191px) {
  .u-p-home {
    width: 1440px;
    height: 523px;
    background-image: url("/img/Hero\ \(1\).png");
  }
  .u-p-home-container {
    width: 1440px;
    padding: 120px 284px 0px;
  }
  .u-p-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .u-p-home-title {
    font-family: DM Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-p-home-text {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    padding: 24px 0 40px;
  }
}
.u-p-about {
  margin: auto;
  width: 375px;
  height: 711px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ the\ Platform.png");
}
.u-p-about-container {
  width: 375px;
  padding: 40px 16px 0px;
  margin: auto;
}
.u-p-about-title {
  font-family: DM Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
  background: linear-gradient(90deg, #ffffff 0%, #ae86f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.u-p-about-title-text {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 16px;
}
.u-p-about-text {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 277px;
}

@media screen and (min-width: 1191px) {
  .u-p-about {
    width: 1440px;
    height: 510px;
    background-image: url("/img/About\ the\ Platform\ \(1\).png");
  }
  .u-p-about-container {
    width: 1440px;
    padding: 80px 736px 0 160px;
  }
  .u-p-about-title {
    font-family: DM Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .u-p-about-title-text {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;

    padding-top: 24px;
  }
  .u-p-about-text {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
  }
}

.u-p-why-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.u-p-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.u-p-why-item {
  border: 1px solid #ae86f5;
  width: 343;
  border-radius: 16px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.u-p-why-text-bold {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.u-p-why-text {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 16px;
}

@media screen and (min-width: 1191px) {
  .u-p-why-container {
    width: 1440px;
    padding: 80px 160px;
  }
  .u-p-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .u-p-why-item {
    width: 256px;
    height: 205px;
    border-radius: 16px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }
}

.u-p-uniqueness {
  margin: auto;
  width: 375px;
  height: 1255px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Spotlight_\ Decision\ of\ the\ Week.png");
}
.u-p-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 40px 17px 0 16px;
}
.u-p-uniqueness-text {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 32px;
}
.u-p-about-text-uni {
  padding-top: 24px;
}
.u-p-uniqueness-list {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.u-p-uniqueness-item {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-p-uniqueness-text-bold {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  list-style-type: disc;
  margin-left: 20px;
}
.u-p-uniqueness-text-boldq {
  margin: 0;
}

@media screen and (min-width: 1191px) {
  .u-p-uniqueness {
    width: 1440px;
    height: 984px;
    background-image: url("/img/Spotlight_\ Decision\ of\ the\ Week\ \(1\).png");
  }
  .u-p-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }
  .u-p-uniqueness-text {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
    width: 544px;
  }
  .u-p-about-text-uni {
    padding-top: 16px;
    width: fit-content;
  }
  .u-p-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 544px;
    margin-left: auto;
  }
  .u-p-uniqueness-item {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-p-uniqueness-text-bold {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.u-p-how {
  margin: auto;
  width: 375px;
  height: 860px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/What\ We\ Help\ You\ Decide.png");
}
.u-p-how-container {
  margin: auto;
  width: 375px;
  padding: 40px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u-p-how-list {
  padding-top: 24px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.u-p-how-item {
  border-radius: 16px;
  padding: 7px 15px;

  border: 1px solid #ae86f5;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1191px) {
  .u-p-how {
    width: 1440px;
    height: 676px;
    background-image: url("/img/What\ We\ Help\ You\ Decide\ \(1\).png");
  }
  .u-p-how-container {
    margin: auto;
    width: 1440px;
    padding: 80px 160px;
  }
  .u-p-how-list {
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .u-p-how-item {
    width: 256px;
    border-radius: 16px;
    border-width: 1px;
    padding: 8px 50px;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-p-characters-container {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.u-p-uniqueness-text-bold-char {
  padding-top: 16px;
  margin-bottom: -16px;
}

@media screen and (min-width: 1191px) {
  .u-p-characters-container {
    padding: 80px 160px;
    margin: auto;
    width: 1440px;
  }
  .u-p-uniqueness-text-bold-char {
    padding-top: 16px;
    margin-bottom: -16px;
  }
  .u-p-uniqueness-text-char {
    width: fit-content;
  }
}

.u-p-reviews {
  margin: auto;
  width: 375px;
  height: 1779px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Video\ Intelligence.png");
}
.u-p-reviews-container {
  margin: auto;
  padding: 40px 16px 0;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.u-p-reviews-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.u-p-reviews-item {
  border: 1px solid #ae86f5;
  background: #0c1217;
  width: 343px;
  height: 261px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border-width: 1px;
  padding: 16px;
}

.u-p-reviews-img {
  width: 311px;
  height: 197px;
  object-position: center;
}
.u-p-reviews-text-bold {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1191px) {
  .u-p-reviews {
    width: 1440px;
    height: 1049px;
    background-image: url("/img/reviews/Video\ Intelligence\ \(1\).png");
  }
  .u-p-reviews-container {
    margin: auto;
    padding: 80px 160px;
    width: 1440px;
  }
  .u-p-about-text-rev {
    width: fit-content;
  }
  .u-p-reviews-list {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 40px;
    justify-content: center;
  }

  .u-p-reviews-item {
    width: 352px;
    height: auto;
    gap: 16px;
    border-radius: 16px;
    border-width: 1px;
    padding: 16px;
  }

  .u-p-reviews-img {
    width: 320px;
    height: auto;
    border-radius: 8px;
  }
  .u-p-reviews-text-bold {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-p-features-container {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}
.u-p-features-text {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 32px;
}
.u-p-features-text-bold {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.u-p-features-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}
.u-p-features-img {
  width: 32px;
}

@media screen and (min-width: 1191px) {
  .u-p-features-container {
    width: 1440px;
    margin: auto;
    padding: 80px 160px;
  }

  .u-p-features-text {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .u-p-features-text-bold {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .u-p-features-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
  }
}

.u-p-container {
  padding: 120px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-p-container h1 {
  font-family: DM Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0%;
}

.u-p-container h2 {
  margin-top: 10px;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
}

.u-p-container h3 {
  margin-top: 10px;
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-p-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-p-container ul li {
  margin-bottom: 10px;
}
.u-p-container p {
  margin-top: 10px;
}
.u-p-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.u-p-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1191px) {
  .u-p-container {
    padding: 140px 160px 80px;
    width: 1440px;
    margin: auto;
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-p-container h1 {
    font-family: DM Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .u-p-container h2 {
    margin-top: 20px;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
  }

  .u-p-container h3 {
    margin-top: 20px;
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-p-container ul {
    margin-top: 20px;
  }

  .u-p-container ul li {
    margin-bottom: 10px;
  }
  .u-p-container p {
    margin-top: 20px;
  }
}

.u-p-footer-container {
  width: 375px;
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.u-p-footer-title {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  background: linear-gradient(90deg, #ffffff 0%, #ae86f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.u-p-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.u-p-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.u-p-footer-copyright {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1191px) {
  .u-p-footer-container {
    width: 1440px;
  }
  .u-p-footer-title {
    font-family: DM Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 28px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-p-footer-text {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-p-footer-copyright {
    font-family: DM Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.u-p-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 343px;
  padding: 32px;
  border-radius: 32px;
  background: #0c1217;

  z-index: 1000;
  display: none;
}

.u-p-cookie-popup-text-two {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.u-p-cookie-button-container {
  padding: 40px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.u-p-cookie-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 256px;
  border-radius: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}

#accept-cookies {
  background: #ffffff;
  color: #0c1217;
}

.u-p-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1191px) {
  .u-p-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .u-p-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    width: 622px;
  }

  .u-p-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .u-p-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1262px;
    padding: 32px;
    display: none;
  }
}
